**å¤ä¹ ï¼š**æ•°æ®åˆ†æçš„ç¬¬ä¸€æ­¥ï¼ŒåŠ è½½æ•°æ®æˆ‘ä»¬å·²ç»å­¦ä¹ å®Œæ¯•äº†ã€‚å½“æ•°æ®å±•ç°åœ¨æˆ‘ä»¬é¢å‰çš„æ—¶å€™ï¼Œæˆ‘ä»¬æ‰€è¦åšçš„ç¬¬ä¸€æ­¥å°±æ˜¯è®¤è¯†ä»–ï¼Œä»Šå¤©æˆ‘ä»¬è¦å­¦ä¹ çš„å°±æ˜¯**äº†è§£å­—æ®µå«ä¹‰ä»¥åŠåˆæ­¥è§‚å¯Ÿæ•°æ®**ã€‚

## 1 ç¬¬ä¸€ç« ï¼šæ•°æ®è½½å…¥åŠåˆæ­¥è§‚å¯Ÿ

### 1.4 çŸ¥é“ä½ çš„æ•°æ®å«ä»€ä¹ˆ
æˆ‘ä»¬å­¦ä¹ pandasçš„åŸºç¡€æ“ä½œï¼Œé‚£ä¹ˆä¸Šä¸€èŠ‚é€šè¿‡pandasåŠ è½½ä¹‹åçš„æ•°æ®ï¼Œå…¶æ•°æ®ç±»å‹æ˜¯ä»€ä¹ˆå‘¢ï¼Ÿ

**å¼€å§‹å‰å¯¼å…¥numpyå’Œpandas**

In [2]:
import numpy as np
import pandas as pd

#### 1.4.1 ä»»åŠ¡ä¸€ï¼špandasä¸­æœ‰ä¸¤ä¸ªæ•°æ®ç±»å‹DateFrameå’ŒSeriesï¼Œé€šè¿‡æŸ¥æ‰¾ç®€å•äº†è§£ä»–ä»¬ã€‚ç„¶åè‡ªå·±å†™ä¸€ä¸ªå…³äºè¿™ä¸¤ä¸ªæ•°æ®ç±»å‹çš„å°ä¾‹å­ğŸŒ°[å¼€æ”¾é¢˜]

In [3]:

#æˆ‘ä»¬ä¸¾çš„ä¾‹å­
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
example_1 = pd.Series(sdata)
example_1

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [4]:
#æˆ‘ä»¬ä¸¾çš„ä¾‹å­
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
example_2 = pd.DataFrame(data)
example_2

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

#### 1.4.2 ä»»åŠ¡äºŒï¼šæ ¹æ®ä¸ŠèŠ‚è¯¾çš„æ–¹æ³•è½½å…¥"train.csv"æ–‡ä»¶

In [5]:
#å†™å…¥ä»£ç 
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

ä¹Ÿå¯ä»¥åŠ è½½ä¸Šä¸€èŠ‚è¯¾ä¿å­˜çš„"train_chinese.csv"æ–‡ä»¶ã€‚é€šè¿‡ç¿»è¯‘ç‰ˆtrain_chinese.csvç†Ÿæ‚‰äº†è¿™ä¸ªæ•°æ®é›†ï¼Œç„¶åæˆ‘ä»¬å¯¹trian.csvæ¥è¿›è¡Œæ“ä½œ
#### 1.4.3 ä»»åŠ¡ä¸‰ï¼šæŸ¥çœ‹DataFrameæ•°æ®çš„æ¯åˆ—çš„åç§°

In [12]:
#å†™å…¥ä»£ç 
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

#### 1.4.4ä»»åŠ¡å››ï¼šæŸ¥çœ‹"Cabin"è¿™åˆ—çš„æ‰€æœ‰å€¼[æœ‰å¤šç§æ–¹æ³•]

In [23]:
#å†™å…¥ä»£ç 
df['Cabin'].describe()

count     204
unique    147
top        G6
freq        4
Name: Cabin, dtype: object

In [20]:
df['Cabin'].unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [19]:
df['Cabin'].value_counts()

G6             4
B96 B98        4
C23 C25 C27    4
C22 C26        3
F33            3
              ..
C87            1
B19            1
B71            1
B102           1
D19            1
Name: Cabin, Length: 147, dtype: int64

#### 1.4.5 ä»»åŠ¡äº”ï¼šåŠ è½½æ–‡ä»¶"test_1.csv"ï¼Œç„¶åå¯¹æ¯”"train.csv"ï¼Œçœ‹çœ‹æœ‰å“ªäº›å¤šå‡ºçš„åˆ—ï¼Œç„¶åå°†å¤šå‡ºçš„åˆ—åˆ é™¤
ç»è¿‡æˆ‘ä»¬çš„è§‚å¯Ÿå‘ç°ä¸€ä¸ªæµ‹è¯•é›†test_1.csvæœ‰ä¸€åˆ—æ˜¯å¤šä½™çš„ï¼Œæˆ‘ä»¬éœ€è¦å°†è¿™ä¸ªå¤šä½™çš„åˆ—åˆ å»

In [52]:
#å†™å…¥ä»£ç 
df_test_1 = pd.read_csv('test_1.csv')
df_test_1.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,a
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,100
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,100
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,100
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,100
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,100

In [53]:
#å†™å…¥ä»£ç 
del df_test_1['a']
df_test_1.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

ã€æ€è€ƒã€‘è¿˜æœ‰å…¶ä»–çš„åˆ é™¤å¤šä½™çš„åˆ—çš„æ–¹å¼å—ï¼Ÿ

In [42]:
# æ€è€ƒå›ç­”

a1 = df.columns.tolist()
a2 = df_test_1.columns.to_list()

df_test_1.drop(set(a2) - set(a1), axis=1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

#### 1.4.6 ä»»åŠ¡å…­ï¼š å°†['PassengerId','Name','Age','Ticket']è¿™å‡ ä¸ªåˆ—å…ƒç´ éšè—ï¼Œåªè§‚å¯Ÿå…¶ä»–å‡ ä¸ªåˆ—å…ƒç´

In [55]:
#å†™å…¥ä»£ç 
df.drop(['PassengerId','Name','Age','Ticket'], axis=1)

     Survived  Pclass     Sex  SibSp  Parch     Fare Cabin Embarked
0           0       3    male      1      0   7.2500   NaN        S
1           1       1  female      1      0  71.2833   C85        C
2           1       3  female      0      0   7.9250   NaN        S
3           1       1  female      1      0  53.1000  C123        S
4           0       3    male      0      0   8.0500   NaN        S
..        ...     ...     ...    ...    ...      ...   ...      ...
886         0       2    male      0      0  13.0000   NaN        S
887         1       1  female      0      0  30.0000   B42        S
888         0       3  female      1      2  23.4500   NaN        S
889         1       1    male      0      0  30.0000  C148        C
890         0       3    male      0      0   7.7500   NaN        Q

[891 rows x 8 columns]

ã€æ€è€ƒã€‘å¯¹æ¯”ä»»åŠ¡äº”å’Œä»»åŠ¡å…­ï¼Œæ˜¯ä¸æ˜¯ä½¿ç”¨äº†ä¸ä¸€æ ·çš„æ–¹æ³•(å‡½æ•°)ï¼Œå¦‚æœä½¿ç”¨ä¸€æ ·çš„å‡½æ•°å¦‚ä½•å®Œæˆä¸Šé¢çš„ä¸åŒçš„è¦æ±‚å‘¢ï¼Ÿ

ã€æ€è€ƒå›ç­”ã€‘

å¦‚æœæƒ³è¦å®Œå…¨çš„åˆ é™¤ä½ çš„æ•°æ®ç»“æ„ï¼Œä½¿ç”¨inplace=Trueï¼Œå› ä¸ºä½¿ç”¨inplaceå°±å°†åŸæ•°æ®è¦†ç›–äº†ï¼Œæ‰€ä»¥è¿™é‡Œæ²¡æœ‰ç”¨

### 1.5 ç­›é€‰çš„é€»è¾‘

è¡¨æ ¼æ•°æ®ä¸­ï¼Œæœ€é‡è¦çš„ä¸€ä¸ªåŠŸèƒ½å°±æ˜¯è¦å…·æœ‰å¯ç­›é€‰çš„èƒ½åŠ›ï¼Œé€‰å‡ºæˆ‘æ‰€éœ€è¦çš„ä¿¡æ¯ï¼Œä¸¢å¼ƒæ— ç”¨çš„ä¿¡æ¯ã€‚

ä¸‹é¢æˆ‘ä»¬è¿˜æ˜¯ç”¨å®æˆ˜æ¥å­¦ä¹ pandasè¿™ä¸ªåŠŸèƒ½ã€‚

#### 1.5.1 ä»»åŠ¡ä¸€ï¼š æˆ‘ä»¬ä»¥"Age"ä¸ºç­›é€‰æ¡ä»¶ï¼Œæ˜¾ç¤ºå¹´é¾„åœ¨10å²ä»¥ä¸‹çš„ä¹˜å®¢ä¿¡æ¯ã€‚

In [56]:
#å†™å…¥ä»£ç 
df[df['Age']<10]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
827,828,1,2,"Mallet, Master. Andre",male,1.00,0,2,S.C./PARIS 2079,37.0042,NaN,C
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.00,4,2,347082,31.2750,NaN,S
852,853,0,3,"Boulos, Miss. Nourelain",female,9.00,1,1,2678,15.2458,NaN,C
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.00,1,1,347742,11.1333,NaN,S

#### 1.5.2 ä»»åŠ¡äºŒï¼š ä»¥"Age"ä¸ºæ¡ä»¶ï¼Œå°†å¹´é¾„åœ¨10å²ä»¥ä¸Šå’Œ50å²ä»¥ä¸‹çš„ä¹˜å®¢ä¿¡æ¯æ˜¾ç¤ºå‡ºæ¥ï¼Œå¹¶å°†è¿™ä¸ªæ•°æ®å‘½åä¸ºmidage

In [62]:
#å†™å…¥ä»£ç 
midage = df[(df['Age']>10) & (df['Age']<50)]
midage

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

ã€æç¤ºã€‘äº†è§£pandasçš„æ¡ä»¶ç­›é€‰æ–¹å¼ä»¥åŠå¦‚ä½•ä½¿ç”¨äº¤é›†å’Œå¹¶é›†æ“ä½œ

#### 1.5.3 ä»»åŠ¡ä¸‰ï¼šå°†midageçš„æ•°æ®ä¸­ç¬¬100è¡Œçš„"Pclass"å’Œ"Sex"çš„æ•°æ®æ˜¾ç¤ºå‡ºæ¥

In [79]:
#å†™å…¥ä»£ç 
midage = midage.reset_index(drop=True)
midage.loc[[100],['Pclass','Sex']]

     Pclass   Sex
100       2  male

ã€æç¤ºã€‘åœ¨æŠ½å–æ•°æ®ä¸­ï¼Œæˆ‘ä»¬å¸Œæœ›æ•°æ®çš„ç›¸å¯¹é¡ºåºä¿æŒä¸å˜ï¼Œç”¨ä»€ä¹ˆå‡½æ•°å¯ä»¥è¾¾åˆ°è¿™ä¸ªæ•ˆæœå‘¢ï¼Ÿ

#### 1.5.4 ä»»åŠ¡å››ï¼šä½¿ç”¨locæ–¹æ³•å°†midageçš„æ•°æ®ä¸­ç¬¬100ï¼Œ105ï¼Œ108è¡Œçš„"Pclass"ï¼Œ"Name"å’Œ"Sex"çš„æ•°æ®æ˜¾ç¤ºå‡ºæ¥

In [84]:
#å†™å…¥ä»£ç 
midage.loc[[100,105,108],['Pclass','Name','Sex']]

     Pclass                               Name   Sex
100       2  Byles, Rev. Thomas Roussel Davids  male
105       3           Cribb, Mr. John Hatfield  male
108       3                    Calic, Mr. Jovo  male

#### 1.5.5 ä»»åŠ¡äº”ï¼šä½¿ç”¨ilocæ–¹æ³•å°†midageçš„æ•°æ®ä¸­ç¬¬100ï¼Œ105ï¼Œ108è¡Œçš„"Pclass"ï¼Œ"Name"å’Œ"Sex"çš„æ•°æ®æ˜¾ç¤ºå‡ºæ¥

In [107]:
midage.index.get_loc(100)

100

In [102]:
midage.index.get_indexer([100,105,108])

array([100, 105, 108])

In [97]:
midage.columns.get_loc('Sex')

4

In [99]:
midage.columns.get_indexer(['Pclass','Name','Sex'])

array([2, 3, 4])

In [101]:
#å†™å…¥ä»£ç 
midage.iloc[[100,105,108],[2, 3, 4]]

     Pclass                               Name   Sex
100       2  Byles, Rev. Thomas Roussel Davids  male
105       3           Cribb, Mr. John Hatfield  male
108       3                    Calic, Mr. Jovo  male

ã€æ€è€ƒã€‘å¯¹æ¯”`iloc`å’Œ`loc`çš„å¼‚åŒ